@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-color: white;
    --border-color: #ccc;
    --fg-color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #121212;
        --border-color: #333;
        --fg-color: white;
    }
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--fg-color);
}

body {
    margin: 0;
    background-color: var(--bg-color);
}

.margin {
    min-height: calc(100vh - 40px);
    width: calc(100vw - 40px);
    margin: 20px;
}

.container {
    width: 100%;
}

.list {
    border: 2px solid var(--border-color);
    border-radius: 16px;
    padding: 12px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    max-height: 148px;
    gap: 100px;
}

.icon, .first-icon, .last-icon {
    width: 112px;
    height: 112px;
    object-fit: contain;

    border: 2px solid var(--border-color);

    margin-right: 4px;
    padding: 16px;
}

.first-icon {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.last-icon {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-right: 0;
}